version: '3.6'

networks:
    web-network:

services:
    bg3mmh:
        build:
            context: .
            dockerfile: Dockerfile
            network: host
        container_name: bg3mmh
        command: /bin/sh -c "cd /var/www/html/ && php spark serve --host 0.0.0.0"
        ports:
            - '8080:8080'
        volumes:
            - ./:/var/www/
            - <ABS PATH TO UNPACKED MODS>:/var/www/html/public/AllMods/
            - <ABS PATH TO MODS TO DEVELOP>:/var/www/html/public/MyMods/
            - <ABS PATH TO UNPACKED GAME DATA>:/var/www/html/public/GameData/
        restart: "no"
        networks:
            - web-network

    mongo:
        image: mongo:latest
        container_name: bg3mmh-mongo
        restart: unless-stopped
        ports:
            - "27017:27017"
        volumes:
            - mongo_data:/data/db
        networks:
            - web-network

volumes:
  mongo_data:
